name: Build APK CryptoGuard

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Limpar Espaço em Disco (Evitar OOM)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Instalar Dependências
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake git python3-dev python3-pip \
            libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
            libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev pkg-config libffi-dev libssl-dev autoconf automake \
            libtool unzip zip libsqlite3-dev libgdbm-dev libncursesw5-dev \
            libreadline-dev libbz2-dev tk-dev

      - name: Instalar Buildozer
        run: pip3 install --user --upgrade "cython<3.0" wheel "setuptools<70.0.0" buildozer

      - name: Compilar APK
        run: |
          export PATH=$PATH:$HOME/.local/bin
          export ANDROID_HOME=$ANDROID_SDK_ROOT
          
          # Aceitar licenças
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --sdk_root=$ANDROID_HOME --licenses
          
          # Rodar buildozer limitando workers para não travar o runner
          buildozer -v android debug
        env:
          BUILDOZER_WARN_ON_ROOT: 0

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: CryptoGuard-APK
          path: bin/*.apk
