name: Build APK CryptoGuard

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Instalar Dependências do Sistema
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake git python3-dev python3-pip \
            libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
            libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev pkg-config libffi-dev libssl-dev autoconf automake \
            libtool unzip zip libsqlite3-dev libgdbm-dev libncursesw5-dev \
            libreadline-dev libbz2-dev tk-dev

      - name: Instalar Buildozer e Cython
        run: |
          pip3 install --user --upgrade pip
          pip3 install --user "cython<3.0" "sh<2.0" buildozer

      - name: Compilar APK com Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          
          # FORÇAR O USO DO SDK PRÉ-INSTALADO DO GITHUB (Evita o erro ClassNotFound)
          export ANDROID_HOME=$ANDROID_SDK_ROOT
          export ANDROID_SDK_ROOT=$ANDROID_HOME
          
          # Corrigir erro de módulos do Java para o SDK Manager
          export JAVA_OPTS='-XX:+IgnoreUnrecognizedVMOptions --add-modules java.se.ee' || export JAVA_OPTS='-XX:+IgnoreUnrecognizedVMOptions'
          
          # Aceitar licenças no SDK oficial do sistema
          yes | sdkmanager --sdk_root=$ANDROID_HOME --licenses
          
          # Iniciar build
          buildozer -v android debug
        env:
          BUILDOZER_WARN_ON_ROOT: 0
          BUILDOZER_ACCEPT_ANDROID_SDK_LICENSE: 1

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: CryptoGuard-APK
          path: bin/*.apk
