name: Build APK
on:
  workflow_dispatch: # Permite rodar manualmente no botão "Run workflow"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Instalar Dependências
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3-dev python3-pip ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev libgstreamer1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good libffi-dev libssl-dev autoconf automake libtool pkg-config cmake unzip zip

      - name: Instalar Buildozer e Cython
        run: |
          pip3 install --user --upgrade pip
          pip3 install --user "cython<3.0" "sh<2.0" buildozer

      - name: Compilar APK
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # O 'yes' aceita automaticamente as licenças do SDK Android
          yes | buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CryptoGuard-Package
          path: bin/*.apk
